@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: 0 0;
  }
  .menu-list {
    background: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    li + li {
      margin-top: 5px;
    }
    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;

      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
        padding: 8px 15px;
        font-size: 15px;
        outline-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        letter-spacing: 0.5px;
        border: 1px solid #ffffff00;
        border-radius: 8px;
        text-decoration: none;
        text-transform: capitalize;
        width: 100%;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          background: rgba(127, 80, 91, 0.12);
        }
      }
    }

    .has-arrow:after {
      position: absolute;
      content: "";
      width: 0.5em;
      height: 0.5em;
      border-style: solid;
      border-width: 1.2px 0 0 1.2px;
      border-color: initial;
      right: 15px;
      transform: rotate(-45deg) translateY(-50%);

      transform-origin: top;
      top: 50%;
      transition: all 0.3s ease-out;
    }
    .has-arrow.arrow-down:after {
      transform: rotate(-135deg) translateY(-50%);
    }

    .content {
      overflow: hidden;
      opacity: 0;
      max-height: 0;
      transition: all 0.3s cubic-bezier(0, 1, 0, 1);
    }
    .show {
      height: auto;
      opacity: 1;
      max-height: 9999px;
      transition: all 0.3s cubic-bezier(1, 0, 1, 0);
    }
    .menu--list {
      margin-top: 5px;
    }
  }

  .menu-label {
    padding: 20px 15px 5px 5px;
    color: #b0afaf;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}
